<!DOCTYPE html>
  <html>
    <head>
    
    </head>
    <body>
        <h1>Welcome to the Nested Forms Lab!</h1>
        
        <form action='/new' method="GET">
          <input type="submit" value="Click to register new pirate"/>
        </form>
      </body>
  </html>